# MySQL
MYSQL_ROOT_PASSWORD=changeme
MYSQL_DATABASE=cv_builder
MYSQL_USER=cv_builder_user
MYSQL_PASSWORD=changeme
MYSQL_PORT=3306

# MinIO
MINIO_ROOT_USER=changeme
MINIO_ROOT_PASSWORD=changeme
MINIO_API_PORT=9002
MINIO_CONSOLE_PORT=9003

# Adminer
ADMINER_PORT=8080
